.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-size: medium;
  font-weight: 500;
  border-radius:10px;
}
.sidebar .nav-link svg{
  margin-right: 5px;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar{
  background-color:  rgb(51, 52, 53);
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(33,37,41,1);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.form-control-dark {
  color: #fff;
  background-color: rgb(51, 52, 53);
  border-color: rgb(51, 52, 53);
}

.form-control-dark:focus {
  border-color: transparent;
  background-color: rgba(235, 224, 224, 0.25);
  box-shadow: 0 0 0 0;
}

.login_button{
  color:#fff;
  border: 0;
  margin:auto;
}
.btn:hover{
  background-color: #6370e8 !important;
}
.nav-item.btn-sm{
  background-color: white;
}

.nav-item.btn-sm:hover,.nav-item.btn-sm:active{
  border-color:#6370e8 !important;
  background-color: #6370e8 !important;
}

.border-4{
  border-color:#6370e8 !important; 
}

.coin-logo{
  height: 24px;
  width: 24px;
  border-radius: 12px;
}
@media screen and (min-width: 768px){
.iosgXe {
    display: none;
}
}
.kAXKAX {
  white-space: nowrap;
  border-radius: 8px;
  padding: 0px;
  color: #16c784;
}
.hzgCfk {
  white-space: nowrap;
  border-radius: 8px;
  padding: 0px;
  color:#ea3943;
}
.bCltOL {
  width: 164px;
  height: 48px;
  text-align: center;
  box-sizing: content-box;
  padding-top: 2px;
  padding-bottom: 3px;
  filter: hue-rotate(300deg) saturate(210%) brightness(0.7) contrast(170%);
}
.bCltOL.isUp {
  filter: hue-rotate(85deg) saturate(80%) brightness(0.85);
}

.etWhy{
  display:none;
}